
<table class="w-full  bg-white rounded-b border border-zinc-900">
  <tr><th>Cotação [Nome da empresa]</th></tr>
  <tr class="grid grid-cols-10 border-b border-b-slate-200">
    <th class="col-span-1">N°</th>
    <th class="col-span-3">Nome do produto</th>
    <th class="col-span-2">Valor</th>
    <th class="col-span-2">Quantidade</th>
    <th class="col-span-2">Subtotal</th>

  </tr>
  <tr class="grid grid-cols-10">
    <td class="col-span-1">1</td>
    <td class="col-span-3">Banana</td>
    <td class="col-span-2">13.00</td>
    <td class="col-span-2">2</td>
    <td class="col-span-2">26</td>
  </tr>
  <tr class="grid grid-cols-10">
    <td class="col-span-1">1</td>
    <td class="col-span-3">Banana</td>
    <td class="col-span-2">13.00</td>
    <td class="col-span-2">2</td>
    <td class="col-span-2">26</td>
  </tr>
  <tr class="grid grid-cols-10">
    <td class="col-span-1">1</td>
    <td class="col-span-3">Banana</td>
    <td class="col-span-2">13.00</td>
    <td class="col-span-2">2</td>
    <td class="col-span-2">26</td>
  </tr>
  <tr class="grid grid-cols-10">
    <td class="col-span-1">1</td>
    <td class="col-span-3">Banana</td>
    <td class="col-span-2">13.00</td>
    <td class="col-span-2">2</td>
    <td class="col-span-2">26</td>
  </tr>
  <tr class="grid grid-cols-10">
    <td class="col-span-1">1</td>
    <td class="col-span-3">Banana</td>
    <td class="col-span-2">13.00</td>
    <td class="col-span-2">2</td>
    <td class="col-span-2">26</td>
  </tr>
  <tr class="grid grid-cols-10 ">
    <th class="col-span-8"></th>
    <th class="col-span-2">26</th>
  </tr>
</table>
